<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<withJansi>false</withJansi>
		<encoder>
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
		</encoder>
<!--         <withJansi>true</withJansi> -->
<!--         <encoder> -->
<!--             <pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %cyan(%logger{32}) - %msg%n</pattern> -->
<!--         </encoder> -->
	</appender>
    <logger name="org.apache.cassandra" level="OFF" additivity="false">
      <appender-ref ref="stdout" />
    </logger>
    <logger name="me.prettyprint.cassandra" level="OFF" additivity="false">
      <appender-ref ref="stdout" />
    </logger>
    <logger name="me.prettyprint.hector" level="OFF" additivity="false">
      <appender-ref ref="stdout" />
    </logger>
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>